<div class="event_container">
    <div class="event_bg" style="background-image: url('https://image.freepik.com/free-vector/isolated-bundle-books_1308-46573.jpg')"></div>
    <div class="event_info">
      <div class="event_title">
        <h4>Exam Name</h4>
        
      </div>
      <div class="event_date">
        <p>22 Mar,2021</p>
      </div>
      <div class="event_desc">
        <p>
            {{eventDetails[0].details}}
        </p>
      </div>


      <div class="event_footer">
       
        <div class="event_more">
          <a href="#" class="btn_more">
              Edit
            </a>
            <div></div>
            <a href="#" class="btn_more">
                Delete
              </a>
            <div></div>
            <a href="/" class="btn_more">
                Back
              </a>
        </div>
      </div>
    </div>
  </div>



