 <div class="shade">
  <div class="blackboard">
          <div class="form">
                  <p>
                          <label>Exam Name: </label>
                  </p>
                  <p>
                          <label>Date: </label>
                  </p>
                  <p>
                          <label>time: </label>
                  </p>
                  <p>
                          <label>Class: </label>
                  </p>
                  <p>
                          <label>Exam Material: </label>
                  </p>

                  <p>
                      <label>Notes: </label>
            {{eventDetails[0].details}}


                  </p>

                  <p class="wipeout">
                          <a   href="/event/:id/edit" class='mg' value="Edit" >
                            Edit
                            </a>
                          
                          <a href="/" class="btn_more">
                              Back
                            </a>
              </p>
              
              
          </div>
  </div>
</div>