<div class="shade">
    <div class="blackboard">
            <div class="form">
                    <p>
                            <label>Exam Name: </label>
                            <input type="text" />
                    </p>
                    <p>
                            <label>Date: </label>
                            <input type="date" />
                    </p>
                    <p>
                            <label>time: </label>
                            <input type="time" />
                    </p>
                    <p>
                            <label>Class: </label>
                            <input type="text" />
                    </p>
                    <p>
                            <label>Exam Material: </label>
                            <input type="text" />
                    </p>

                    <p>
                        <label>Notes: </label>
                        <input  type="text" />

                        <!-- <textarea></textarea> -->
                    </p>

                    <p class="wipeout">
                            <input type="submit" class='mg' value="Done" />
                            <input type="submit" class='mg2'  value="Back" />
                            <input type="submit"  class="btn_more" value='Delete'/>
                </p>
                
            </div>
    </div>
</div>